.row{
    padding: 30px;
    width: 100vw;
    background-color:#F5DA81;
}
button{
    display: inline;
}
h1, h3{
    display: inline-flex;
}
#botones{
    float: right;
}
@media (max-width: 700px) {
    table {   
      flex-direction: column;
      display: flex;
      flex-wrap: wrap;
    }
    #botones{
        flex-direction: column;
        align-items: center;
        display: flex;
    }
  }
