.row{
    padding: 50px;
}
div{
    background-color:#F5DA81;
}
.table{
    width: 100%;
}
button{
    display: inline;
}
h1, h3{
    display: inline-flex;
}
#botones{
    float: right;
}
@media only screen and (max-device-width: 480px), only screen and (min-device-width: 560px) and (max-device-width: 1136px) {
    table,
    .row {
        width: 500px;
    }
}