.row{
    padding: 50px;
}
div{
    background-color:#F5DA81;
}
.table{
    width: 100%;
}
button{
    display: inline;
}
h1, h3{
    display: inline-flex;
}
#botones{
    float: right;
}
@media (min-width: 502px) and (max-width: 850px)  {
    table,
    button,
    .row {
        width: 502px;
    }
}