.row{
    padding: 30px;
    width: 100vw;
    background-color:#F5DA81;
}
.table{
    flex-wrap: wrap;
}
button{
    display: inline;
}
h1, h3{
    display: inline-flex;
}
#botones{
    float: right;
}
@media only screen and (max-device-width: 850px), only screen and (min-device-width: 850px) and (max-device-width: 850px) {
    tbody, tr {   
        display: flex;
        flex-flow: row wrap;
    }
    #botones{
        flex-direction: column;
        align-items: center;
        display: flex;
    }
  }
