.row{
    padding: 50px;
}
div{
    background-color:#F5DA81;
}
button{
    display: inline;
}
h1, h3{
    display: inline-flex;
}
#botones{
    float: right;
}

@media (min-width: 500px) and (max-width: 220px) {
    table,
    .row {
        width: 220px;
    }
  }
  