.row{
    background-color: #f5cc81;
    width: 100vw;
    margin-left: 0px;
}
footer{
    font-size: 14px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 2px -2px 5px grey;
    width: 100vw;
}
@media only screen and (max-device-width: 480px), only screen and (min-device-width: 560px) and (max-device-width: 1136px) {
    .row{
        width: 130vw;
    }
}